html {
	height: 100%
}

body {
	height: 97.5%;
	margin: 0px;
	padding: 0px;
}

div.headerDiv {
    height: 15%;
	width: 100%;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
}

div.headerDiv img {
	float: right;
	margin-right: 2%;
	margin-top: 0.5%;
	padding: 0.5%;
}

div.headerDiv img:hover {
	cursor: pointer;
}

div.headerDiv a {
	float: right;
	margin-right: 5%;
	margin-top: 4%;
	font-family: "Calibri", serif;
	font-size: 16px;
}

hr.headerHr {
    margin: 0%;
	margin-bottom: -1px;
}

#map_canvas {
	height: 87.5%;
	width: 78%;
	float: right;
}

div.functionsDiv  {
	width: 3.5%;
	height: 87.2%;
	border: 1px solid black;
	float: right;
	padding-left: 0.3%;
}

div.functionsDiv img {
	width: 40px;
	height: 40px;
	margin-bottom: 30%;
	margin-left: 5%;
	margin-top: 20%;
}

div.functionsDiv img.arrow {
	width: 25px;
	height: 25px;
	margin-left: 23%;
}

div.legend {
    padding: 1%;
	overflow-y: auto;
	max-height: 558px;
	height: 558px;
	background-image: url('../img/legendBackground.png');
	background-repeat: no-repeat;
}

div.legend p {
	font-family: "Calibri";
	font-size: 1em;
}

div.legend p.title {
    margin: 0%;
    margin-bottom: 1%;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

div.legend input {
    margin-right: 2%;
}

div.legend input#sys {
    margin-bottom: 0.5%;
}

div.legend img {
    margin: -2.5% 0% 0% 3%;
}

div.legend input.checkbox {
	width: 19px;
	padding: 0 25px 0 0;
	background: url('../img/checkbox.png') no-repeat;
	display: inline;
	clear: left;
	float: left;
}

table#legendTable {
	font-family: "Calibri";
	font-size: 1em;
	margin-left: -1.5%;
}

div.createObjDiv ,
div.createObjDiv input,
div.createObjDiv select#templateSelect
{
	font-family: "Calibri";
	font-size: 1em;
}

select#templateSelect {
	background: transparent;
	width: 250px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ccc;
	height: 31px;
}

div.createObjDiv input {
	width: 35px;
}
	
b.mandatory {
	color: red;
}

a#editTemplate {
	float: right;
	font-size: 14px;
	color: blue;
	margin-top: -18px;
	margin-right: 40px;
	text-decoration: underline;
}

a#editTemplate:hover {
	cursor: pointer;
}

a#getDirections {
	float: right;
	font-size: 14px;
	color: blue;
	margin-top: -18px;
	margin-right: 100px;
	text-decoration: underline;
}

a#getDirections:hover {
	cursor: pointer;
}

.fixedSize {
	width: 390px;
}

.replaced {
	margin: 0%;
}

textarea.replaced {
	resize: vertical;
}

div.infowindowDiv,
div.infowindowDiv input#editButton, 
div.infowindowDiv input#createButton {
	font-family: "Calibri";
	font-size: 1em;
}

div.infowindowDiv textarea {
	resize: none;
}

div.infowindowDiv p {
	width: 390px;
}

div.infowindowDiv p.toMakeSpace {
	width: 550px;
	height: 0px;
	margin: 0% 0% 0% 0%;
}

span#bingImage {
	position: absolute;
	left: 420px;
	top: 35px;
}

span#bingImage:hover {
	cursor: pointer;
}

label.editInfoWindowDiv {
	width: 5em;
	float: left;
	text-align: right;
	margin-right: 1.5em;
	display: block
}

p.creationBoolP {
	margin-bottom: -5px;
}

p.editionBoolP {
	margin-bottom: -3px;
}

label.createInfoWindowDiv {
	width: 5em;
	float: left;
	text-align: right;
	margin-right: 1.5em;
	display: block;
}

label.compensate {
	margin-left: 8px;
}

input#editButton {
	font-family: "Calibri";
	font-size: 1em;
	visibility: hidden;
}

input#getDirectionsButton {
	font-family: "Calibri";
	font-size: 1em;
}

input#editButton,
input#createButton {
	margin-left: 1.1em;
	width: 35px;
}

/*b.compensateMandatory {
	margin-left: 0.5em;
}*/

b.compensateMandatoryBool {
	margin-left: 0.4em;
}

p#hiddenIntValidation {
	visibility: hidden;
	width: 170px;
	font-size: 12px;
	margin-left: 116px;
	margin-top: -15px;
	margin-bottom: -5px;
	color: red;
}

p#hiddenIntValidationEdit {
	visibility: hidden;
	width: 170px;
	font-size: 12px;
	margin-left: 105px;
	margin-top: -15px;
	margin-bottom: -5px;
	color: red;
}

/*legend Table CSS*/
#legendTable{
    text-align: center;
}

#templateName{
    text-align: left;
    width:75%;
}

div.getDirectionsDiv {
	width: 350px;
	font-family: "Calibri";
	font-size: 1em;
}

img.greenMarkerImg {
	margin-left: 5px;
	width: 16px;
	height: 16px;
}

/* CONTEXT MENU */

.contextmenu {
	visibility: hidden;
    z-index: 10;
    position: relative;
	background-color: #FFFFFF;
    width: 155px;
    padding: 0px;
    border: 1px;
    cursor: pointer;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #676767;
    border-bottom: 1px solid #676767;
}

.contextmenu:hover {
	background-color: #E3E2E2;
}

.contextmenu span{
    padding-left: 7px;
}

.contextmenu a {
	font-family: "Calibri";
	font-size: 0.8em;
    text-align: left;
    line-height: 27px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    background-repeat: no-repeat;
    background-position: 4px center;
}
